body {
    background-color: #000000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
nav {
    font-family: 'Philosopher', sans-serif;
}


main {
    flex: 1 0 auto;
}

.card{
    background-color: #000000;
    border-style: groove;
    border-color:white;
}





/* gallery */

.slider{
    background: transparent;
}

.des {

    font-family:'Cinzel', serif;
    font-size: 19px;
}

.card {
    border-color: red !important;
}

/* choices */
.card span {

    font-family: 'Cinzel', serif;
}

.card ul{
    font-family: 'Cinzel', serif;
}



/* footer */

footer p {

    font-family: 'Cinzel', serif;
}

footer a {
    font-family: 'Cinzel', serif;
}

.checkout {
    color: white;
    font-family: 'Cinzel', serif;
}
          
/*social media icons*/

.fa-facebook {
    font-size: 40px;
    color: #FFFFFF;
}

.fa-twitter {
    font-size: 40px;
    color: #FFFFFF;
}

.fa-instagram {
    font-size: 40px;
    color: #FFFFFF;
}


