
/** navbar part **/

nav {

    background-color: #ffffff;

}

nav .brand-logo{

    color:#000000;

}



nav div a {

    color: #000000;

}

nav div i{

    color:#000000;

}

/** navbar part end **/

/**  main part **/



    








/** main part end **/

/** footer part **/

footer {

    background-color:#727070 !important;

}

footer .footer-copyright {

    background-color: #474646;

}

/** footer part end **/