body {
    background-image: url(/change-pw/asssets/img/alcohol-close-up-colors-935240.jpg);
    background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    font-family: 'Philosopher', sans-serif;
}


/* icon */
.fa-facebook {
  font-size: 40px;
  color: #FFFFFF;
}

.fa-twitter {
  font-size: 40px;
  color: #FFFFFF;
}

.fa-instagram {
  font-size: 40px;
  color: #FFFFFF;
}

/* footer */
footer p {
  font-family: 'Cinzel', serif;
}

footer a {
  font-family: 'Cinzel', serif;
}

.footer-copyright center-align.container {
  font-family: 'Cinzel', serif;
}