<script type="text/javascript" src="../js/profile.js"></script>
<link rel="stylesheet" href="/css/back.css">

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col l6 s12 m6">
                    <div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title center-align">Personal Info</span>
                            <div class="divider container"></div>
                            <br>
                            <br>
                            <br>
                            <div id="my-detail" class="container">
                                <form action="action/user/details" method="put" enctype="multipart/form-data">
                                    <div class="row">
                                        <label>Username: </label>
                                        <input type="text" class="white-text" name="username" value="Alam Husnan" readonly/>
                                    </div>

                                    <div class="row">
                                        <label>Email: </label>
                                        <input type="text" class="white-text" name="email" value="kd.dunk81@gmail.com" readonly/>
                                    </div>

                                    <div class="row">
                                        <label>Telephone: </label>
                                        <input type="text" class="white-text" name="telephone" value="91260861" readonly/>
                                    </div>

                                    <div class="row">
                                        <label>Address: </label>
                                        <input type="text" class="white-text" name="address" value="Flat 510, 5/Floor Chak Tin House, Pak Tin Estate, Kowloon" readonly/>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card-action center-align pbs">
                            <input type="submit" id="editBtn" value="Edit" class="btn red darken-3" /></input>
                        </div>
                    </div>
                </div>

                <div class="col l6 s12 m6">
                    <div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title center-align">Plan Detail</span>
                            <div class="divider container"></div>
                            <br>
                            <br>
                            <br>
                            <div class="container">
                                <h5 class="white-text">Monthly Plan</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

    <section>
        <div class="row center-align sob">
            <a class="btn red darken-3" href="/">sign out</a>
        </div>
    </section>
</main>

<script> 
    $('#editBtn').on('click', (e) => {
        e.preventDefault();

        axios.put('/api/user/details', {
                "username": $('#username').val(),
                "email": $('#email').val(),
                "telephone": $('#telephone').val(),
                "address": $('#address').val(),
            })
            .then(() => location.reload())
            .catch(err => console.log(err));
    })
</script>
<br>
<br>