<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col s12 m4 l4">
                    <h5 class="header">Profile Card</h5>
                    <div id="profile-card" class="card medium blue">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/images/abstract-user-flat-1.svg" alt="">
                        </div>
                        <div class="card-content">
                            <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">Edit
                                <i class="mdi-editor-mode-edit"></i>
                            </a>
                            <span class="card-title activator grey-text text-darken-4">User Name</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Alam Husnan
                                <i class="mdi-navigation-close right"></i>
                            </span>
                            <p>Here is some more information about this card.</p>
                            <p>
                                <i class="mdi-action-perm-identity"></i> Student </p>
                            <p>
                                <i class="mdi-action-perm-phone-msg"></i> +852 12345678</p>
                            <p>
                                <i class="mdi-communication-email"></i> yourmail@domain.com</p>
                            <p>
                                <i class="mdi-social-cake"></i> 18th June 1990
                                <p>
                                    <p>
                                        <i class="mdi-device-airplanemode-on"></i> BAR - AUS
                                        <p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <h5 class="header">Your Address</h5>
                    <div class="card medium green">
                        <div class="card-content">
                            <p>Adress of the user</p>
                        </div>
                        <div class="card-action">
                            <button class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <h5 class="header">Your Plan</h5>
                    <div id="profile-card" class="card medium blue">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="assets/images/abstract-user-flat-1.svg" alt="">
                        </div>
                        <div class="card-content">
                            <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">Edit
                            </a>
                            <span class="card-title activator grey-text text-darken-4">6 Month Plan</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Plan Details
                                <i class="mdi-navigation-close right"></i>
                            </span>
                            <p>Here is some more information about this plan.</p>
                            <p>
                                <i class="mdi-action-perm-identity"></i> 24 Bottles of Wine </p>
                            <p>
                                <i class="mdi-action-perm-phone-msg"></i> Free Trial of up and coming Wines</p>
                            <p>
                                <i class="mdi-communication-email"></i> Some benefits</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- API  -->
    <!-- Track & Trace -->
    <section>
        <div class="container">
            <h5>Track and trace api integration</h5>
        </div>
    </section>

    <!-- Purchase History -->
    <section>

    </section>

    <!--Coupon -->
    <section>

    </section>


</main>

<br>
<br>