<main>
    <section id="tick">
        <div class="container">
            <div class="row center-align">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="row center-align">
                <h1>Order Completed</h1>
                <a class="btn red darken-3" href="/home/index.html">Go Back To Home</a>
                <!-- tx id (invoice no.)generated -->
                <a></a>
            </div>
        </div>
    </section>





</main>