<main>
        <section id="tick">
            <div class="container">
                <div class="row center-align">
                        <i class="far fa-check-circle"></i>
                </div>
                
                     <div class="row center-align white-text">
                        <h1>Order Completed</h1>
                        <a href="">This is your transaction hash </a>
                    </div>

                    <div class="row center-align">
                        <a class="btn red darken-3" href="/home/index.html">Go Back To Home</a>
                    </div>
                           
                    
            </div>
        </section>





    </main>