<br>
<br>
<main>
    <div class="row white-text">
        <form action="/login" method="POST" class="col l4 s12 m12 offset-l1">
            <div class="card">
                <div class="card-action black white-text">
                    <h5>Login</h5>
                </div>

                <div class="card-content">
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                    </div>
                    <div class="input-field">
                        <label>
                            <input type="checkbox">
                            <span>Remember Me</span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-field center-align">
                        <button class="btn-large waves-effect waves-light red">Login</button>
                        <button class="btn-large waves-effect waves-light indigo">Login with
                            <i class="fab fa-facebook-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form action="/register" method="POST" class="col l4 s12 m12 offset-l2">
            <div class="card">
                <div class="card-action black white-text">
                    <h5>Register Account</h5>
                </div>

                <div class="card-content">
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                    </div>
                    <div class="input-field">
                        <label for="password">Re-enter password</label>
                        <input type="password" id="repeat-password">
                    </div>
                    <br>
                    <div class="form-field center-align">
                        <input type="submit" value="Sign Up" class="btn-large waves-effect waves-light red"></input>
                        <button class="btn-large waves-effect waves-light indigo right-align">Use
                            <i class="fab fa-facebook-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<br>
<br>
<br>