<main>

    <section>
        <div class="row">
            <!--gallery part-->
            <div class="col l8 offset-l1 s12 ">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="assets/images/gallery/a.jpeg">
                        </li>
                        <li>
                            <img src="assets/images/gallery/b.jpeg">
                        </li>
                        <li>
                            <img src="assets/images/gallery/c.jpeg">
                        </li>
                        <li>
                            <img src="assets/images/gallery/d.jpeg">
                        </li>
                    </ul>

                </div>
            </div>
            <!-- desciption -->
            <div class="col l3 s12 des">
                <h1 class="left-align white-text">Details</h1>
                <P class="left-align white-text">
                    the stories behind the wine, the towns and the terroirs. After all, that’s what makes good wine great. It’s the details,
                    the passion, and the people. We combine old-world access with our patented fractioning technology to
                    bring the experience to you, our member. Life is too short to drink bad wine. We’re here to help.</P>
            </div>
        </div>
        <div class="row center-align">
            <div class="col l4 s12 card">
                <a class="black center-align white-text waves-effect waves-light" href="/Checkout/checkout.html">
                    <div class="card-content white-text">
                        <span class="card-title">Monthly</span>
                        <p class="left-align">I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>
                </a>
                </div>
                <!-- <a href="#" class="white-text">Take This</a> -->
            </div>

            <div class="col l4s12 m4 card">
                <a class="black center-align white-text waves-effect waves-light" href="/Checkout/checkout.html">
                    <div class="card-content white-text">
                        <span class="card-title">Seasonal</span>
                        <p class="left-align">I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>
                    </div>
                </a>
            </div>

            <div class="col l4 s12 m4 card">
                <a class=" black center-align waves-effect waves-light" href="/Checkout/checkout.html">
                    <div class="card-content white-text">
                        <span class="card-title">Yearly</span>
                        <p class="left-align">I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>
                    </div>
                </a>
            </div>
        </div>

    </section>
</main>