html {
    background: #000000;
    color: #ffffff;
}

.get {

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.images{

    background-color: #ffffff;

}