/** navbar part **/

nav {

    background-color: #ffffff;

}

nav .brand-logo{

    color:#000000;

}



nav div a {

    color: #000000;

}

nav div i{

    color:#000000;

}

/** navbar part end **/

/**  main part **/


.jumbotron{

    background: linear-gradient(
        rgba(134, 133, 133, 0.45),
        rgba(134, 133, 133, 0.45)),url("img/jumbo.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.jumbotron h1 {

    color:#ffffff;

}

.jumbotron p{

    color: #ffffff;
    size: 30%;

}



label {

    font-size: 2.5rem;
    color: #000000;

}


small {

    font-size:10%;

}
    








/** main part end **/

/** footer part **/

footer {

    background-color:#727070 !important;

}

footer .footer-copyright {

    background-color: #474646;

}

/** footer part end **/